.root {
    .sliderThumbs {
        padding: 0;
        margin: 0;
        line-height: 0;
        .boxImgThumbs {
            .img {
                width: 100%;
            }
        }
    }
    .sliderNav {
        padding: 9px;
        .boxImgThumbs {
            .imgNav {
                border-radius: 4px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        .sliderThumbs {
            .boxImgThumbs {
                .img {
                    border-radius: 4px;
                }
            }
        }
        .sliderNav {
            padding: 9px 0;
        }
    }
}
