.root {
    max-width: 1180px;
    margin: 0 auto;
    .rootMain {
        // display: grid;
        grid-template-columns: repeat(12, 1fr);
        .boxImage {
            grid-column: 1 / span 6;
        }
        .boxInfo {
            padding: 30px 16px;
            margin: 25px 0 0 0;
            grid-column: 7 / span 6;
            box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.06);
            border-radius: 20px;
            p {
                padding: 0;
                margin: 0;
                color: #00171f;
            }
            .sku {
                display: none;
            }
            .name {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
            }
            .price {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
            }
            .boxButton {
                display: flex;
                align-items: center;
                gap: 0 15px;
                padding: 16px 0 27px 0;
                button {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;
                }
                .buttonContact {
                    color: #fdfdfd;
                    background: #003459;
                    border-radius: 57px;
                    padding: 14px 28px;
                    border: none;
                }
                .buttonMess {
                    display: flex;
                    align-items: center;
                    border: none;
                    padding: 14px 28px;
                    color: #002a48;
                    background-color: transparent;
                    border: 2px solid #002a48;
                    border-radius: 57px;
                    span {
                        line-height: 0;
                        margin: 0 10px 0 0;
                    }
                }
            }
            .boxShare {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 0 20px 0;
                p {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #00171f;
                    display: flex;
                    align-items: center;
                    span {
                        line-height: 0;
                        margin: 0 8px 0 0;
                    }
                }
            }
            .boxAttribute {
                .boxItem {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    border-bottom: 1px solid #ebeeef;
                    padding: 12px 5px;
                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #667479;
                    }
                    .label {
                        grid-column: 1 / span 6;
                    }
                    .value {
                        grid-column: 7 / span 6;
                    }
                }
            }
            .boxHealth {
                margin: 26px 0 0 0;
                padding: 19px;
                background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
                border-radius: 10px;
                gap: 19px 0;
                display: grid;
                .itemHealth {
                    display: flex;
                    align-items: center;
                    img {
                        margin: 0 12px 0 0;
                    }
                    p {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        color: #002a48;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        .rootMain {
            display: grid;
            margin: 120px 0 0 0;
            border: 1px solid #ebeeef;
            border-radius: 20px;
            padding: 20px;
            gap: 0 35px;
            .boxImage {
            }
            .boxInfo {
                padding: 0px;
                margin: 0px 0 0 35px;
                box-shadow: none;
                p {
                    padding: 0;
                    margin: 0;
                    color: #00171f;
                }
                .sku {
                    display: block;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #99a2a5;
                }
                .boxShare {
                    display: none;
                }
                .boxHealth {
                    display: none;
                }
            }
        }
    }
}
