@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.galleryNav {
    .slick-track {
        height: unset !important;
        // width: unset !important;
        // display: flex;
        .slick-slide {
        }
    }
}
.galleryThumbs {
    .slick-track {
        display: flex;
        height: unset !important;
        width: unset !important;
        line-height: 0;
        gap: 0 9px;
        justify-content: space-between;
        &:before {
            display: none;
        }
        &::after {
            display: none;
        }
        .slick-slide {
            width: unset !important;
            border: 2px solid #fff;
            border-radius: 5px;
        }
        .slick-current {
            border-radius: 5px;
            border: 2px solid #f1d092;
        }
    }
}
