@import 'react-loading-skeleton/dist/skeleton.css';
@import './customSlider.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: gilroy;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@import './reset.scss';