.loadingWrapper {
  // position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
