.root {
    .mainRoot {
        max-width: 1180px;
        margin: 0 auto;
        padding: 25px 15px 20px 15px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;
        .menuLeft {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navDesktop {
                display: none;
            }
            .logo {
                cursor: pointer;
                width: 91.58px;
                transition: all 0.5s ease-in-out;
            }
        }
        .menuRight {
            display: none;
        }
    }
}
@media (min-width: 1024px) {
    .root {
        .mainRoot {
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 15px;
            .menuLeft {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0 50px;
                .menuIcon {
                    display: none;
                }
                .navDesktop {
                    display: unset;
                    ul {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        gap: 0 48px;
                        li {
                            a {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                color: #003459;
                            }
                        }
                    }
                }
                .logo {
                    width: 115px;
                }
                .searchIcon {
                    display: none;
                }
            }
            .menuRight {
                display: flex;
                align-items: center;
                gap: 0 16px;
                .searchDialog {
                    background: #fdfdfd;
                    border-radius: 46px;
                    border: 2px solid #667479;
                    .search {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        img {
                            line-height: 0;
                            padding: 13px;
                        }
                        .searchForm {
                            border: none;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #99a2a5;
                            width: 200px;
                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                }
                .community {
                    a {
                        padding: 10px 28px;
                        background: #003459;
                        border-radius: 57px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: flex-end;
                        color: #fdfdfd;
                    }
                }
            }
        }
    }
}
