.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 21; //mask is 10
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr;
    pointer-events: none;
    transform: translateX(-100vw);

    .body {
        position: relative;
        pointer-events: auto;
        background: #f8f7f4;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        .navMobile {
            ul {
                list-style: none;
                padding: 50px 30px 0 30px;
                margin: 0;
                display: grid;
                gap: 8px 0;
                li {
                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #003459;
                    }
                }
            }
        }
        .close {
            position: absolute;
            top: 21px;
            right: 30px;
            font-size: 20px;
            font-weight: 700;
            color: #003459;
        }
    }
}
