.root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    display: grid;
    pointer-events: none;
    padding: 0 20px;

    .body {
        position: relative;
        pointer-events: auto;
        background: #f8f7f4;
        display: flex;
        flex-direction: column;
        min-height: 600px;
        border-radius: 6px;
        .close {
            position: absolute;
            right: 28px;
            top: 20px;
            cursor: pointer;
            z-index: 1;
            font-size: 24px;
        }
        .header {
            .searchForm {
                .searchInput {
                    padding: 12px 20px;
                    width: 360px;
                    outline: none;
                    border-radius: 50px;
                    border: 1px solid #667479;
                }
            }
        }
    }
}
