.root {
    background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
    border-radius: 20px 20px 0px 0px;
    margin: 30px 0 0 0;
    .mainRoot {
        padding: 40px 16px 20px 16px;
        margin: 0 auto;
        max-width: 1180px;
        .formBox {
            padding: 16px;
            background: #003459;
            border-radius: 16px;
            margin: 0 0 40px 0;
            h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                padding: 0 0 16px 0;
                margin: 0;
                text-transform: capitalize;
                color: #fdfdfd;
            }
            form {
                background-color: #fff;
                padding: 12px;
                border-radius: 14px;
                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #99a2a5;
                    border-radius: 8px;
                    padding: 14px 28px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #99a2a5;
                }
                button {
                    outline: none;
                    background: #003459;
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: flex-end;
                    color: #fdfdfd;
                    border: none;
                    width: 100%;
                    padding: 14px 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    margin: 12px 0 0 0;
                }
            }
        }
        .cateMenu {
            border-bottom: 1px solid #ccd1d2;
            .menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    margin: 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #00171f;
                }
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 20px 0 40px 0;
            }
        }
        .logoAllRight {
            margin: 40px 0 0 0;
            text-align: center;
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 16px;
                margin: 0;
                padding: 0;
                color: #667479;
            }
            ul {
                margin: 20px 0 5px 0;
                padding: 0;
                display: flex;
                gap: 0 15px;
                justify-content: center;
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    margin: 0;
                    padding: 0;
                    color: #667479;
                }
            }
            .textDesktop {
                display: none;
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        border-radius: 50px 50px 0px 0px;
        .mainRoot {
            padding: 80px 16px 20px 16px;
            .formBox {
                display: flex;
                justify-content: space-between;
                padding: 32px;
                h2 {
                    font-size: 24px;
                    line-height: 36px;
                    padding: 0;
                }
                form {
                    width: 707px;
                    display: flex;
                    gap: 0 15px;
                    align-items: center;
                    input {
                        width: 508px;
                    }
                    button {
                        width: 163px;
                        margin: 0;
                    }
                }
            }
            .cateMenu {
                display: flex;
                justify-content: space-between;
                padding: 0 0 40px 0;
                .menu {
                    gap: 0 60px;
                }
                .icon {
                    padding: 0;
                    gap: 0 40px;
                }
            }
            .logoAllRight {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
                ul {
                    margin: 0;
                    a {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .textDesktop {
                    display: block;
                }
                .textMobile {
                    display: none;
                }
            }
        }
    }
}
