.topToBtm{
    position: relative;
  }
  .iconPosition{
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 20;
  }
  .iconPosition{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: #000;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    // animation: movebtn 3s ease-in-out infinite;
    transition: all .3s ease-in-out;
    svg {
        transform: rotate(-90deg)
    }
  }
  .iconPosition:hover{
    animation: none;
    opacity: 1;
  }
//   @keyframes movebtn {
//     0%{
//       transform: translateY(0px);
//     }
//     25%{
//       transform: translateY(20px);
//     }
//     50%{
//       transform: translateY(0px);
//     }
//     75%{
//       transform: translateY(-20px);
//     }
//     100%{
//       transform: translateY(0px);
//     }
//   }