@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Xlight-Italic.otf) format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Xlight.otf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Light.otf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Light-Italic.otf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Regular.otf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Medium.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Medium-Italic.otf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-SemiBold.otf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-SemiBoldItalic.otf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Bold-Italic.otf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Bold.otf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-XBold.otf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-XBold-Italic.otf) format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Black-Italic.otf) format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url(Gilroy/SVN-Gilroy-Black.otf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
