.root {
  .rootMain {
    background: #fdfdfd;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    .item {
      padding: 8px;
      img {
        width: 100%;
        border-radius: 12px;
      }
      p {
        margin: 0;
        padding: 0;
      }
      .info {
        padding: 5px;
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: flex-end;
          color: #00171f;
          padding: 12px 0 0px 0;
        }
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #667479;
          padding: 4px 0;
        }
        .price {
          padding: 8px 0 0 0;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #00171f;
        }
      }
    }
  }
}
