.root {
    position: relative;
    background-image: url("../../assets/image/bg-mobile.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 0 0px 20px 20px;
    .rootMain {
        padding: 140px 16px 0px 16px;
        overflow: hidden;
        .contentText {
            h1 {
                padding: 0;
                margin: 0;
                font-style: normal;
                font-weight: 800;
                font-size: 46px;
                line-height: 60px;
                text-transform: capitalize;
                color: #002a48;
                // transition:all .5s ease-in-out;
            }
            h3 {
                padding: 0;
                margin: 0;
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                text-transform: capitalize;
                color: #002a48;
                // transition:all .5s ease-in-out;
            }
            p {
                padding: 12px 0 0 0;
                margin: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #242b33;
            }
            .boxButton {
                padding: 32px 0 0 0;
                display: flex;
                align-items: center;
                gap: 0 20px;
                .buttonView {
                    padding: 12px 25px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #003459;
                    border-radius: 57px;
                    cursor: pointer;
                    a {
                        font-style: normal;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        color: #003459;
                        font-size: 13px;
                        line-height: 17px;
                        span {
                            line-height: 0;
                            img {
                                line-height: 0;
                                margin: 0 0 0 8px;
                                width: 13px;
                                
                            }
                        }
                    }
                }
                .buttonExplore {
                    padding: 12px 25px;
                    background-color: #003459;
                    border-radius: 57px;
                    a {
                        font-style: normal;
                        font-weight: 500;
                        display: flex;
                        align-items: flex-end;
                        color: #fdfdfd;
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
            }
        }
        .img {
            margin: 25px 0 0 0;
            line-height: 0;

            img {
                width: 100%;
                line-height: 0;
                transition:all .5s ease-in-out;
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        background-image: url("../../assets/image/bg-desktop.png");
        border-radius: 0 0px 50px 50px;
        .rootMain {
            display: flex;
            max-width: 1180px;
            margin: 0 auto;
            padding: 180px 16px 0px 16px;
            justify-content: space-between;
            .contentText {
                max-width: 480px;
                h1 {
                    font-size: 60px;
                    line-height: 68px;
                }
                h3 {
                    font-size: 46px;
                    line-height: 60px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
                .boxButton {
                    .buttonView {
                        a {
                            font-size: 16px;
                            line-height: 24px;
                            span {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .buttonExplore {
                        padding: 14px 35px;
                        a {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}
