.root {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 16px;
    .contentHeader {
        padding: 0 0 20px 0;
        .text {
            .whats {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: flex-end;
                color: #000000;
            }
            .sake {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                display: flex;
                align-items: flex-end;
                text-transform: capitalize;
                color: #003459;
                padding: 0;
                margin: 0;
            }
        }
        .buttonDesktop {
            display: none;
        }
    }
    .rootMain {
        display: grid;
        grid-gap: 12px 12px;
        grid-template-columns: repeat(2, 1fr);
    }
    .buttonMobi {
        margin: 30px 0 0 0;
        a {
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            color: #003459;
            border-radius: 57px;
            border: 1px solid #003459;
            padding: 14px 0;
            justify-content: center;
            span {
                margin: 0px 0 -2px 8px;
                transform: rotate(-90deg);
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        padding: 60px 16px;
        .contentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text {
                .whats {
                    font-size: 16px;
                    line-height: 24px;
                }
                .sake {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
            .buttonDesktop {
                display: flex;
                padding: 12px 28px;
                gap: 8px;
                border: 1.5px solid #003459;
                border-radius: 57px;
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #003459;
                    span {
                        margin: 0px 0 -2px 8px;
                        img {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        .buttonMobi {
            display: none;
        }
        .rootMain {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px 20px;
        }
    }
}
