.root {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1180px;
    .rootMain {
        position: relative;
        background-image: url("../../assets/image/bg-line-mobi.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius:20px;
        padding: 20px 0 0 0;
        .contentText {
            .title {
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 54px;
                text-align: center;
                text-transform: capitalize;
                color: #002a48;
                margin: 0;
                padding: 0;
            }
            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                text-transform: capitalize;
                color: #002a48;
                margin: 0;
                padding: 0;
            }
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                color: #242b33;
                margin: 0;
                padding: 12px 0 0 0;
            }
            .boxButton {
                padding: 32px 0 0 0;
                display: flex;
                align-items: center;
                gap: 0 20px;
                justify-content: center;
                .buttonView {
                    padding: 12px 25px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #003459;
                    border-radius: 57px;
                    cursor: pointer;
                    a {
                        font-style: normal;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        color: #003459;
                        font-size: 13px;
                        line-height: 17px;
                        span {
                            line-height: 0;
                            img {
                                line-height: 0;
                                margin: 0 0 0 8px;
                                width: 13px;
                            }
                        }
                    }
                }
                .buttonExplore {
                    padding: 12px 25px;
                    background-color: #003459;
                    border-radius: 57px;
                    a {
                        font-style: normal;
                        font-weight: 500;
                        display: flex;
                        align-items: flex-end;
                        color: #fdfdfd;
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
            }
        }
        .img {
            line-height: 0;
            img {
                width: 100%;
                line-height: 0;
            }
        }
    }
}
@media (min-width: 1024px) {
    .root {
        .rootMain {
            background-image: url("../../assets/image/bg-line-desktop.png");
            flex-direction: row-reverse;
            display: flex;
            padding: 0 60px 0 0;
            align-items: flex-end;
            justify-content: space-between;
            .contentText {
                padding: 60px 0 60px 0;
                .title {
                    font-weight: 800;
                    font-size: 52px;
                    line-height: 68px;
                    text-align: right;
                }
                h3 {
                    font-size: 36px;
                    line-height: 54px;
                    text-align: right;
                }
                p {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: right;
                    width: 394px;
                }
                .boxButton {
                    justify-content: flex-end;
                    padding: 25px 0 0 0;
                    .buttonView {
                        a {
                            font-size: 16px;
                            line-height: 24px;
                            span {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .buttonExplore {
                        padding: 14px 35px;
                        a {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .img {
                img {
                    width: unset;
                }
            }
        }
    }
}
